.navbarWrapper {
  height: 50px;
  border-bottom: 1px solid #dfe6e9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    border: 1px solid #dfe6e9;
    height: 35px;
    border-radius: 5px;

    input {
      outline: none;
      border: none;
      padding-left: 5px;
      &::placeholder {
        font-size: 0.85rem;
      }
    }
    span {
      cursor: pointer;
      svg {
        font-size: 1.75rem;
        color: #636e72;
      }
    }
  }

  .toolbar {
    display: flex;
    align-items: center;

    :not(:last-child){
        cursor: pointer;
    }

    span {
      margin: 0 0.75rem;
      svg {
        font-size: 1.25rem;
        color: #636e72;
      }
    }
    .lang {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        font-size: 0.8rem;
        color: #2d3436;
      }
    }
    .notification, .chat{
        position: relative;
        div{
            position: absolute;
            top: -2px;
            right: -4px;
            width: 15px;
            height: 15px;
            font-size: 9px;
            font-weight: 700;
            line-height: 15px;
            background-color: #b71540;
            color: white;
            border-radius: 100%;
            text-align: center;
            pointer-events: none;
        }
    }
    .avatar {
      display: flex;
      width: 35px !important;
      height: 35px !important;
      img {
        width: 100%;
        display: block;
        border-radius: 100%;
        object-fit: cover;
      }
    }
  }
}
